.header {
    background-color: var(--header-background-color);
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: grid;
    justify-content: center;
}

.header .title {
    color: #cbd5e1;
    text-align: center;
    margin-top: 20px;
}

.header .btn-container {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    gap: 8px;
}

.header .btn-container button {
    border: none;
    height: 60px;
    width: 120px;
    background-color: var(--main-background-color);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    font-size: 20px;
    font-family: inherit;
}

.header .btn-container button.active {
    background-color: var(--tab-background-color);
}
