* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#content {
    height: 100%;
    background-color: #cbd5e1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr;
}